.header {
  margin-bottom: 6.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 575px) {
  .header {
    flex-direction: column;

    &-logo {
      align-self: flex-start;
      margin-bottom: 4rem;
    }
  }
}
